{% extends 'coreapp/base_generic.html' %}
{% block content %}
	<h1>{{ page_title }}</h1>
	<hr>
	<p>Content description: {{ labbook.title }}</p>
	<p>Author: {{ labbook.author }}</p>
	<p>Project(s): {% for project in labbook.project.all %}{{ project }}<br>{% endfor %}</p>
	<p>Location: {{ labbook.location }}</p>
	<p>Electronic copy: {{ labbook.efile }}</p>
	<p>Date started: {{ labbook.date_started }}</p>
	<p>Date finished: {{ labbook.date_finished }}</p>
	<p>Date issued: {{ labbook.date_issued }}</p>
	<p>Index added: {{ labbook.index_added }}</p>
	<p>Index num. pages: {{ labbook.index_num_pages }}</p>
	<p>Document code: {{ labbook.document_code }}</p>
{% endblock %}