{% extends 'coreapp/base_generic.html' %}
{% block content %}
	<h1>{{ page_title }}</h1>
	<h2>Project: {{ project.name }} ({{ project.prefix }})</h2>
	<hr>
	<table>
		<thead>
			<th>Doc. number</th>
			<th>Title</th>
			<th>E-copy</th>
			<th>Author</th>
			<th>Status</th>
			<th>Sign off date</th>
			<th>Actions</th>
		</thead>
		{% for studyplan in studyplans %}
		<tr>
			<td>{{ studyplan.project.prefix }}-{{ studyplan.id }}-{{ studyplan.document_code }}</td>
			<td>{{ studyplan.title|truncatechars:75 }}</td>
			<td>
			{% if studyplan.efile %}
				<a href="{{ MEDIA_URL }}{{ studyplan.efile }}">e-copy</a>
			{% endif %}
			</td>
			<td>{{ studyplan.author }}</td>
			<td>{{ studyplan.status }}</td>
			<td>{{ studyplan.sign_date }}</td>
			<td><a href="{% url 'studyplan-detail' studyplan.id %}">Details</a> | <a href="{% url 'studyplan-edit' studyplan.id %}">Edit</a></td>
		</tr>
		{% endfor %}
	</table>
	<br>
	<a href="{% url 'studyplan-create' %}">Add new</a>
{% endblock %}