{% extends 'coreapp/base_generic.html' %}
{% block content %}
	<h1>{{ page_title }}</h1>
	<hr>
	<p>Project name: {{ project.name }}</p>
	<p>Project prefix: {{ project.prefix }}</p>
	<p>Project leader: {{ project.leader }}</p>
	
	<a href="{% url 'project-studyplan-list' project.id %}">Study plans</a> |
	<a href="{% url 'project-report-list' project.id %}">Reports</a> |
	<a href="{% url 'project-relatedfile-list' project.id %}">Project-related files</a> |
	<a href="{% url 'project-labbook-list' project.id %}">Lab notebooks</a>
	
{% endblock %}