{% extends 'coreapp/base_generic.html' %}
{% block content %}
	<h1>{{ page_title }}</h1>
	<hr>
	<table>
		<thead>
			<th>Author</th>
			<th>Location</th>
			<th>Doc. code</th>
			<th>E-copy</th>
			<th>Content description</th>
			<th>Date started</th>
			<th>Date finished</th>
			<th>Date archived</th>
			<th>Alias</th>
			<th>Vol. No.</th>
		</thead>
		{% for relatedfile in relatedfiles %}
		<tr>
			<td>{{ relatedfile.author }}</td>
			<td>{{ relatedfile.location }}</td>
			<td>{{ relatedfile.document_code }}</td>
			<td><a href="{{ MEDIA_URL }}{{ relatedfile.efile }}">{{ relatedfile.efile }}</a></td>
			<td>{{ relatedfile.title }}</td>
			<td>{{ relatedfile.date_started }}</td>
			<td>{{ relatedfile.date_finished }}</td>
			<td>{{ relatedfile.date_archived }}</td>
			<td>{{ relatedfile.alias }}</td>
			<td>{{ relatedfile.vol_num }}</td>
			<td><a href="{{ relatedfile.id }}">Details</a> | <a href="edit/{{ relatedfile.id }}">Edit</a></td>
		</tr>
		{% endfor %}
	</table>
	<br>
	<a href="{% url 'relatedfile-create' %}">Add new</a>
{% endblock %}