{% extends 'coreapp/base_generic.html' %}
{% block content %}
	<h1>{{ page_title }}</h1>
	<hr>
	<p>Content description: {{ relatedfile.title }}</p>
	<p>Author(s): {% for author in relatedfile.author.all %}{{author}}<br>{% endfor %}</p>
	<p>Project(s): {% for project in relatedfile.project.all %}{{ project }}<br>{% endfor %}</p>
	<p>Location: {{ relatedfile.location }}</p>
	<p>Electronic copy: <a href="{{ MEDIA_URL }}{{ relatedfile.efile }}">{{ relatedfile.efile }}</a></p>
	<p>Date started: {{ relatedfile.date_started }}</p>
	<p>Date finished: {{ relatedfile.date_finished }}</p>
	<p>Date archived: {{ relatedfile.date_archived }}</p>
	<p>Alias: {{ relatedfile.alias }}</p>
	<p>Volume num.: {{ relatedfile.vol_num }}</p>
	<p>Sign-off date: {{ relatedfile.sign_date }}</p>
	
{% endblock %}