{% extends 'coreapp/base_generic.html' %}
{% block content %}
	<h1>{{ page_title }}</h1>
	<hr>
	<p>Title: {{ report.title }}</p>
	<p>Author: {{ report.author }}</p>
	<p>Project: {{ report.project }}</p>
	<p>Location: {{ report.location }}</p>
	<p>Electronic copy: <a href="{{ MEDIA_URL }}{{ report.efile }}">{{ report.efile }}</a></p>
	<p>Study plan(s): {% for studyplan in report.study_plan.all %}{{ studyplan }}<br>{% endfor %}</p>
	<p>Status: {{ report.status }}</p>
	<p>Sign-off date: {{ report.sign_date }}</p>
{% endblock %}